#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.restaurant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}

.review-list {
  text-align: left;
  background-color: rgba(200, 195, 221, 0.3);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  width: 75vh;

}

input[type="text"], input[type="email"], input[type="checkbox"],select, textarea {
  background-color: rgb(226, 226, 251);
  border-color: rgba(69, 64, 88, 0.3);
  color: rgb(18, 0, 0);
}

#submit-review-button {
  margin: 20px;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.add-review-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}

.user-container
  {
  display: flex;
  min-height: 100vh;
  gap: 20px;

}

.user-review-list,
.user-favorite-list {
  text-align: left;
  flex: 1;

  background-color: rgba(200, 195, 221, 0.3);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px 30px;
  width: 75vh;

}

.user-review-list ol,
.user-favorite-list ol {
  padding-left: 0;

}

.restaurant-list {
  background-color: rgba(200, 195, 221, 0);
  border-radius: 10px;
}

.users-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  text-align: left;
  padding: 10px 30px;
  flex: 1;
}

.users-list ol {
  padding-left: 0;
}

.users-link {
  margin-right: 0;
}

.users-link-container {
  position: absolute;
  top: 10px;
  right: 10px;

}

.review-button {
  font-size: 0.7rem;
  padding: 4px 8px;
  border: none;
  background: none;
  cursor: pointer;
  color: #007bff;
  padding-left: 0;
}
